.app{
  box-sizing: border-box;
  background-image: url(https://wallpaperaccess.com/full/187161.jpg);
  background-size: cover;
  background-repeat: no-repeat;


}
.back{
  color: blanchedalmond;
  
 
}
